<ion-view>
  <ion-nav-title>Paramètres</ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">Utilisateur</ion-item>
      <ion-item class="item-icon-left item-icon-right" ng-click="fn.changeUser()">
        <i class="icon ion-person"></i>
        {{data.user.name || 'Anonymous'}}
        <i class="icon ion-close-circled assertive" ng-click="fn.logout();$event.stopPropagation();" ng-show="data.user"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
