<ion-view>
  <ion-nav-title>Sondages</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-plus" ng-click="fn.createPoll()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="search" placeholder="Rechercher">
    </label>
    <button class="button button-clear">Annuler</button>
  </div>
  <ion-content class="has-subheader">
    <ion-refresher pulling-text="Actualiser les sondages..." on-refresh="fn.refresh()"></ion-refresher>
    <ion-list can-swipe="true">
      <ion-item ng-repeat="poll in data.polls | filter:search" ui-sref="app.poll({pollId: poll.id})">
        {{poll.title}}
        <ion-option-button class="button-assertive" ng-click="fn.delete(poll)"><i class="icon ion-trash-b"></i></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
