<ion-view>
  <ion-nav-title>{{data.poll.title}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-plus" ng-click="fn.createProposal()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="search" placeholder="Rechercher">
    </label>
    <button class="button button-clear">Annuler</button>
  </div>
  <ion-content class="has-subheader">
  <ion-refresher pulling-text="Actualiser les propositions..." on-refresh="fn.refresh()"></ion-refresher>
    <ion-list can-swipe="true">
      <ion-item ng-repeat="proposal in data.poll.proposals | filter:search | orderBy:'-score'">
        <h2>{{proposal.title}}</h2>
        <p>{{proposal.description}}</p>
        <span class="badge" ng-class="{'badge-assertive': !proposal.isVotedByMe, 'badge-balanced': proposal.isVotedByMe}" ng-show="proposal.score > 0">{{proposal.score}}</span>
        <ion-option-button class="button-balanced" ng-click="fn.vote(proposal)" ng-if="!proposal.isVotedByMe"><i class="icon ion-thumbsup"></i></ion-option-button>
        <ion-option-button class="button-assertive" ng-click="fn.delete(proposal)"><i class="icon ion-trash-b"></i></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
