<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Créer une proposition</h1>
    <button class="button button-clear" ng-click="fn.cancel()">Annuler</button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Titre</span>
        <input type="text" ng-model="form.title" placeholder="Titre">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <textarea ng-model="form.description" placeholder="Description"></textarea>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="fn.save()" ng-disabled="!form.title">Créer</button>
    </div>
  </ion-content>
</ion-modal-view>
